<div class="product-grid">
  {{#each products}}
    <div class="product-card">
      <div class="product-image-container">
        <img class="product-image" src={{this.thumbnail}} alt="" />
      </div>
      <h2 class="product-title">{{this.title}}</h2>
      <h3 class="product-description">Descrpcion: {{this.description}}</h3>
      <h3 class="product-code">Codigo: {{this.description}}</h3>
      <h3 class="product-price">Precio: {{this.price}}</h3>
      <h3 class="product-status">Estado: {{this.status}}</h3>
      <h3 class="product-stock">Unidades disponibles: {{this.status}}</h3>
      <h3 class="product-category">Categoria: {{this.status}}</h3>
    </div>
  {{/each}}
</div>