<div>
  {{#each products}}
    <div class="item" data-id="{{this.id}}">
      <div class="img-item-container">
        <img class="img-item" src="{{this.thumbnails}}" alt="{{this.title}}" />
      </div>
      <div class="text-item">
        <h2 class="title-item">{{this.title}}</h2>
        <p class="product-description">{{this.description}}</p>
        <div class="product-details">
          <p class="product-code">Código: {{this.code}}</p>
          <p class="product-status">Estado:
            {{#if this.status}}Activo{{else}}Inactivo{{/if}}</p>
          <p class="product-stock">Stock: {{this.stock}}</p>
          <p class="product-category">Categoría: {{this.category}}</p>
        </div>
        <p class="product-price">Precio: ${{this.price}}</p>
        <button
          class="button-item delete-btn"
          data-id="{{this.id}}"
        >Eliminar</button>
      </div>
    </div>
  {{/each}}
</div>

<div>
   {{#each links}}
   <a href="{{this.link}}">{{this.text}}</a>
   {{/each}}
</div>